.location > h5 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-bottom: 6px;
  font-size: 18px;
}

.location > p {
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
}
.vertical-line {
  height: 55px;
  border-left: 2px solid #f2f2f2;
  padding: 0px;
  margin: 0px;
  padding-left: 0;
}
.div-search {
  padding: 0px 12px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  background: rgb(248, 248, 248);
  color: rgb(130, 130, 130);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}
.div-search > input {
  border: none;
  background-color: transparent;
  width: 40vw;
  height: 45px;
}
.div-search > input::placeholder {
  font-size: 18px;
}  
.btn1 {
  font-size: 21px;
  font-weight: 400;
  border: none;
  color: rgb(54, 54, 54);
  font-family: "Martel Sans", sans-serif;
  transition: font-size 0.5s ease 0s;
  background-color: transparent;
  width: 10vw;
}

.btn2 {
  background-color: rgb(12, 131, 31);
  border-radius: 8px;
  height: 52px;
  width: 112px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}
.hero-section>img{
    border-radius: 0px;
    object-fit: fill;
    cursor: default;
    display:flex;
    margin:auto;
}
.product-categories{
  width:92%;
}
/* Scrolling-x start */
.my-container{
  margin:auto;
  display: flex;
  justify-content:center;
  width:91%;
  overflow-x:scroll;
}
.my-list{
  width:100%;
  white-space:nowrap;
  display: flex;
  justify-content:space-between;
}
.my-list>img{
  padding:10px;
}
::-webkit-scrollbar{
  display: none;
}
/* Scrolling-x END */
